.clear {
  clear: both;
}

span.break:before {
  content: "\A";
  white-space: pre;
}

.hero-image {
  cursor: pointer;
  position: relative;
  img {
    height: 60px;
    margin: 10px;
  }
}

.ReactModal__Content.ReactModal__Content--after-open {
  width: 65%;
  table {
    width: 40%;
  }
  button.close {
    top: -10px;
    position: relative;
  }
}

.equipage-name {
  font-weight: bold;
  padding: 5px 0px;
}

.modal-equipage-line:hover {
  cursor: pointer;
  background-color: $pale-yellow;
}

.modal-card-line:hover {
  cursor: pointer;
  background-color: $pale-yellow;
}
