.clear {
  clear: both;
}

span.break:before {
  content: "\A";
  white-space: pre;
}

.hero-image {
  cursor: pointer;
  position: relative;
  img {
    height: 60px;
    margin: 10px;
  }
}

.modal-card-line:hover {
  cursor: pointer;
  background-color: $pale-yellow;
}

td.info-icon-td {
  width: 30px;
}

img.info-icon {
  width: 30px;
  filter: brightness(60%);
}


img.equipage-button {
  float: right;
  cursor: pointer;
}

img.equipage-button:hover {
  filter: brightness(120%);
}

img.set-equipage {
  width: 90px;
}

img.remove-equipage {
  width: 75px;
}

img.info-icon.mouse-enter {
  filter: brightness(100%);
}
