.clear {
  clear: both;
}

.hero-image {
  cursor: pointer;
  position: relative;
  img {
    height: 60px;
    margin: 10px;
  }
}

.ReactModal__Content.ReactModal__Content--after-open {
  width: 40%;
  button.close {
    top: -10px;
    position: relative;
  }
}

.modal-equipage-line:hover {
  cursor: pointer;
  background-color: $pale-yellow;
}

.modal-card-line:hover {
  cursor: pointer;
  background-color: $pale-yellow;
}
