.titleComponent {
  padding-top: 15px;
  table {
    width: 100%;
    font-size: 18px;
    td.title {
      width: 100px;
      white-space: nowrap;
      padding-right: 5px;
    }
    td.hr {
      width: 100%;
    }
  }
}

.checkMessageComponent {
  span.check-image img {
    width: 20px;
    margin-right: 5px;
  }
  p.check-message {
    padding: 5px;
  }
}

.resultsComponent {
  padding-top: 10px;
  .cryuni-image {
    position: relative;
    h2 {
      padding: 10px;
      font-size: 15px;
      position: absolute;
      color: #EEE;
      left: 10px;
      background-color: #000;
    }
    .cryuni-background-image img {
      width: 500px;
    }
    .whole-image img {
      width: 490px;
      position: absolute;
      left: 10px;
      top: -200px;
    }
    .vip-level-image img {
      position: absolute;
      width: 70px;
      top: 170px;
      left: 85%;
    }
  }

  .panel {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    width: 200px;
  }

  .resultHeroAbilityComponent {
    padding-top: 15px;
  }

  .resultVipAbilityComponent {
    padding-top: 15px;
  }

  .resultCoreAbilityComponent {
    .core-hero {
      padding-top: 10px;
      span.hero-name {
        font-weight: bold;
      }
    }
  }
}

.heroAbilitySettingComponent {
  li.icon {
    list-style-type: none;
    float: left;
    .hero-image {
      .selected-fether {
        position: absolute;
        z-index: 10;
        width: 45px;
        height: auto;
        top: -17px;
        left: 18px;
      }
    }
  }
  .hero-intimacy-ability {
    padding-top: 15px;
  }
  .heroAbilitiesComponent {
    ul {
      padding: 0;
      list-style-type: none;
      margin: 0;
    }
    table {
      tr.active-ability {
        background-color: #FFA;
      }
      th.attached_abilities {
        width: 220px;
      }
    }
  }
}

.coreAbilitySettingComponent {
  li.icon {
    list-style-type: none;
    float: left;
    position: relative;
    .hero-image {
      img.locked {
        -webkit-filter: brightness(60%);
        filter: brightness(60%);
      }
      img.padlock {
        width: 40px;
        height: auto;
        position: absolute;
        z-index: 0;
        top: -18px;
        left: 10px;
      }
    }
  }
}
