.heroComponent {
  img {
    height: 100px;
    margin: 10px;
  }
}

.resultsComponent {
  .cryuni-background-image img {
    width: 500px;
  }
}

.heroAbilitySettingComponent {
  li.icon {
    list-style-type: none;
    float: left;
    .hero_image {
      cursor: pointer;
    }
  }
  .heroAbilitiesComponent {
    li {
      list-style-type: none;
    }
  }
}
