.heroComponent {
  img {
    height: 60px;
    margin: 10px;
  }
}

.resultsComponent {
  padding-top: 10px;
  .cryuni-image {
    position: relative;
    h2 {
      padding: 10px;
      font-size: 15px;
      position: absolute;
      color: #EEE;
      left: 10px;
      background-color: #000;
    }
    .cryuni-background-image img {
      width: 500px;
    }
    .whole-image img {
      width: 490px;
      position: absolute;
      left: 10px;
      top: -200px;
    }
  }
}

.heroAbilitySettingComponent {
  li.icon {
    list-style-type: none;
    float: left;
    .hero_image {
      cursor: pointer;
    }
  }
  .hero-intimacy-ability {
    padding-top: 15px;
  }
  .heroAbilitiesComponent {
    ul {
      padding: 0;
      list-style-type: none;
    }
    table {
      tr.active-ability {
        background-color: #FFA;
      }
      th.attached_abilities {
        width: 220px;
      }
    }
  }
}
